{% extends 'login_logout/base_login_register.html'  %}

{% load static %}


    
    {% block login %}
        
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'login/images/signin-image.jpg' %}" alt="sing up image"></figure>
                        <a href="{% url 'account:register' %}" class="signup-image-link"> ساخت حساب کاربری </a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">ورود </h2>
                        <form method="POST" action="" class="register-form" id="login-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="your_name" placeholder="نام کاربری"/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="your_pass" placeholder="رمز عبور"/>
                            </div>
                            <div class="form-group">
                                <!-- <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" /> -->
                                <!-- <label for="remember-me" class="label-agree-term"><span><span></span></span>یادآوری شود </label> -->
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="ورود"/>
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">ورود با </span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
        
        

        
    {% endblock login %}